BasedOnStyle: Mozilla
UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
Language: Cpp
ColumnLimit: 80
SortIncludes: true
PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
SpacesInCStyleCastParentheses: false
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: false
Cpp11BracedListStyle: false
MaxEmptyLinesToKeep: 2
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
PenaltyExcessCharacter: 7
PenaltyBreakBeforeFirstCallParameter: 50
AlignArrayOfStructures: Left
